<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hit.Services.DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>


    <applicationSettings>
        <Hit.Services.DataAccess.Properties.Settings>
            <setting name="ProtelDB" serializeAs="String">
                <value>HpkWzJOvE+nTPeXiEK5WD24WLAqsUb8LziXzwbDLRfWcV8bnPKJH8k6Fxusy4dIG6IdGcL+UdZvXHzirOEH21CX8x9M19F9+cm8nx3MdrnPvt2NvW64JwlRJnmxtt7l2vFqI4cCXKMoIEzLIwmx8VASd/16ma46ff/NtLe2j6nHJ1cQx2+ba4aD1yE/UD0zKnbSjb0Li/0fJHjMuChMiUSU2IxC++4ewqZP+AzxvV2Y=</value>
            </setting>
            <setting name="SmartInElockDB" serializeAs="String">
                <value>HpkWzJOvE+nTPeXiEK5WD24WLAqsUb8LziXzwbDLRfWcV8bnPKJH8k6Fxusy4dIG6IdGcL+UdZvXHzirOEH21DsmEo4lPiJqejBlUSK4JMhpH+x+L+DkgJADb3KPXYGSaFHlOmqO4jMoTE0I8870D84vGzN6pr8QyIKoub3V8H+spuvv71slzfQMLdQ0R8FmCGMbbnNW2V4OsZVtoQjlVg==</value>
            </setting>
            <setting name="ProtelUser" serializeAs="String">
                <value>proteluser</value>
            </setting>
            <setting name="Mpehotel" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HitPosDB" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="WebPosDB" serializeAs="String">
                <value>XiaYM6KlItUmGLESsYIc8QpQQ8jC0EwY5VwkskARWv4e3fCjVAROoxPonhxq7FRuGCM1NcG6lLSWXUNZskMR3Bw12T7Y0PzgJkQr2fJp6Pwag+F+SnubMwhzYpjD5tKrnLiB0xrmC0Fnkx5cZrMF3xNuSKHm5elnm4E+CTFs8d0r0A3HcCFZcqfHdlFh+v+4ml20RdWsVl7MDZ0Dbn2i8g==</value>
            </setting>
        </Hit.Services.DataAccess.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>